<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ngz="http://xmlns.jcp.org/jsf/composite/ngz">

    <body>

        <ui:composition template="../../templates/templatePrincipal.xhtml">

            <ui:define name="conteudo">
                <h:form prependId="false" id="form">
                    <p:growl id="messages" showDetail="true"/>  
                    <!-- Conteudo -->
                    <ngz:toolBar/>

                    <p:dataTable id="dt" value="#{pessoaBean.listaUsuarios}" var="result" 
                                 selection="#{pessoaBean.selectedPessoas}" editable="true" widgetVar="dataTable"
                                 paginator="true" paginatorPosition="bottom" rows="10" 
                                 rowKey="#{result.idPessoa}" style="margin:0px;">

                        <p:ajax event="rowEdit" listener="#{pessoaBean.onRowEdit}" update=":form:messages" />
                        <p:ajax event="rowEditCancel" listener="#{pessoaBean.onRowCancel}" update=":form:messages" />
                        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>

                        <p:column headerText="#{label.nome}" sortBy="#{result.nomePessoa}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{result.nomePessoa}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{result.nomePessoa}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column headerText="#{label.login}" sortBy="#{result.login}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{result.login}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{result.login}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column headerText="#{label.tipoUsuário}" sortBy="#{result.isAdmin}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{result.isAdmin}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{result.isAdmin}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column style="width:32px">
                            <p:rowEditor />
                        </p:column>

                    </p:dataTable>

                    <p:dialog header="#{label.cadastrarUsuario}o" widgetVar="cadDialog" resizable="false">
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel for="nomeUsuario" value="#{label.nome}"/>
                            <p:inputText id="nomeUsuario" value="#{pessoaBean.nomePessoa}" required="true" requiredMessage="Campo Nome deve ser preenchido." size="50"/>

                            <p:outputLabel for="loginUsuario" value="#{label.login}"/>
                            <p:inputText id="loginUsuario" value="#{pessoaBean.login}" required="true" requiredMessage="Campo Login deve ser preenchido." size="50"/>

                            <p:outputLabel for="senhaUsuario" value="#{label.senha}"/>
                            <p:password id="senhaUsuario" value="#{pessoaBean.senha}" required="true" requiredMessage="Campo Senha deve ser preenchido." size="50"/>

                            <p:outputLabel for="isAdmin" value="#{label.permissaoAdmin}"/>
                            <p:selectBooleanCheckbox id="isAdmin" value="#{pessoaBean.isAdmin}"/>

                            <f:facet name="footer">
                                <p:commandButton value="#{label.salvar}" actionListener="#{pessoaBean.store()}" 
                                                 update="messages, dt" oncomplete="PF('cadDialog').close()"/>
                            </f:facet>  
                        </h:panelGrid>
                    </p:dialog>

                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
