.ui-widget, .ui-widget .ui-widget {
    font-size: 92% !important;
}

.ui-datatable-header, .ui-datatable .ui-datatable-footer {
    text-align: right !important;
    padding: 4px 2px !important;
}

.ui-layout-unit .ui-layout-unit-content {
    padding: 0 !important;
    border: 0px none;
    overflow: auto;
}

.ui-tabs .ui-tabs-panel {
    border-width: 0;
    padding: 0em 0em 0em 0.1em !important;
    background: none;
}