<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:insert name="menuLateral">
        <p:layoutUnit position="west" size="200" header="#{label.menu}" resizable="true" collapsible="true" >

            <h:form>
                <p:growl autoUpdate="true"/>
                <p:panelMenu style="width:100%;">
                    <p:separator />
                    <p:submenu label="#{label.tarefas}" >
                        <p:menuitem value="#{label.gerarEscala}" url="./escalaCad" icon="ui-icon-search"/>
                        <p:menuitem value="#{label.reimprimirEscala}" url="./escalaCad" icon="ui-icon-signal"/>
                        <p:menuitem value="#{label.manterCategorias}" url="./manterCategorias" icon="ui-icon-signal"/>
                        <p:menuitem value="#{label.manterPostosFuncoes}" url="./manterPostos" icon="ui-icon-signal"/>
                        <p:menuitem value="#{label.manterTurnos}" url="./manterTurnos" icon="ui-icon-signal"/>
                    </p:submenu>
                </p:panelMenu>

                <p:panelMenu style="width:100%;">
                    <p:submenu label="#{label.usuarios}" >
                        <p:menuitem value="#{label.manterUsuarios}" url="./manterUsuarios" icon="fa fa-plus"/>
                    </p:submenu>
                </p:panelMenu>

                <p:panelMenu style="width:100%;">
                    <p:submenu label="#{label.admin}" >
                        <p:menuitem value="#{label.consultarHistorico}" url="./manterUsuarios" icon="ui-icon-carat-1-sw"/>
                        <p:menuitem value="#{label.logout}" url="./manterUsuarios" icon="ui-icon-signal"/>
                    </p:submenu>
                </p:panelMenu>

            </h:form>

            <f:facet name="footer">
                <h:outputLabel style="font-size: 61% !important;">
                    #{msg.noguezMark}
                </h:outputLabel>


            </f:facet>

        </p:layoutUnit>
    </ui:insert>

</ui:composition>