<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Escala de Horários - Login </title>

        <h:outputStylesheet name="./css/style.css"/>
        <h:outputStylesheet name="./css/primeFacesStyle.css"/>

    </h:head>
    <h:body>

        <p:layout fullPage="true">

            <p:layoutUnit position="north" size="140">
                <p:graphicImage name="bm-logo-small.png" library="images" width="130" height="110"
                                style="padding-left: 40px;"/>
            </p:layoutUnit>        

            <p:layoutUnit position="center">

                <p:dialog header="#{label.login}" modal="true"
                          visible="true" closable="false" resizable="false">
                    <h:form id="loginForm">

                        <h:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel for="login" value="#{label.login}"/>
                            <p:inputText id="login" value="#{loginController.login}" 
                                         placeholder="#{msg.insereLogin}" required="true"/>

                            <p:outputLabel for="senha" value="#{label.senha}"/>
                            <p:password id="senha" value="#{loginController.senha}" 
                                        placeholder="#{msg.insereSenha}"  required="true"/>

                            <f:facet name="footer">                            
                                <p:commandButton value="#{label.entrar}"
                                                 actionListener="#{loginController.verificaLogin}" />
                            </f:facet>

                        </h:panelGrid>
                        <p:messages autoUpdate="true"  showIcon="false"/>  
                    </h:form>
                </p:dialog>

            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>