<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <p:tab title="Cadastrar Postos">  
        <h:form>
            <p:growl autoUpdate="true"/>
            <h:panelGrid id="pnlForm" columns="2" style="margin-bottom:10px" cellpadding="5">

                <p:outputLabel for="descPosto" value="Descrição Posto/Função"/>
                <p:inputText id="descPosto" value="#{postoFuncaoBean.descricaoPosto}" required="true" requiredMessage="Campo Descrição deve ser preenchido." size="50"/>

                <p:spacer/>
                <p:commandButton value="Salvar" action="#{postoFuncaoBean.store()}" update="@this, @form"/>

            </h:panelGrid>

        </h:form>
    </p:tab>

</html>
