<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <body>

        <ui:composition template="../../templates/templatePrincipal.xhtml">

            <ui:define name="conteudo">
                <p:tabView orientation="top">
                    <p:tab title="Gerar Escala">
                        <!-- Conteudo -->
                        <h:form>
                            <h:panelGrid id="pnlForm" columns="2" style="margin-bottom:10px" cellpadding="2">
                                <p:outputLabel for="dataEscala" value="Escala para o dia:"/>
                                <p:calendar id="dataEscala" required="true" showOn="button"/>
                            </h:panelGrid>

                            <c:forEach  items="#{escalaBean.listaCategorias}" var="result" >
                                #{escalaBean.setIdCategoria(result.idCategoria)}
                                <p:dataTable value="#{escalaBean.listaPostoFuncao}" var="r">

                                    <p:columnGroup type="header">
                                        <p:row>
                                            <p:column colspan="6" headerText="#{result.descricao}" style="text-align: left;"/>
                                        </p:row>

                                        <p:row>
                                            <p:column rowspan="2" headerText="Posto/Função" />
                                            <p:column colspan="5" headerText="Turnos/Horários" />
                                        </p:row>
                                        <p:row>
                                            <p:column headerText="1º T " />
                                            <p:column headerText="2º T" />
                                            <p:column headerText="3º T " />
                                            <p:column headerText="4º T" />
                                            <p:column headerText=" " />
                                        </p:row>
                                    </p:columnGroup>

                                    <p:column>
                                        <h:outputText value="#{r.descricao}" />
                                    </p:column>
                                    <p:column>
                                        <p:selectOneMenu id="pessoa1turno" style="width: 160px;">
                                            <!--<p:ajax listener="#{dropdownView.onCountryChange}" update="city" />-->
                                            <f:selectItem itemLabel="Selecione" itemValue="" />
                                            <f:selectItems value="#{escalaBean.listaPessoa}" var="p"
                                                           itemLabel="#{p.nomePessoa}" itemValue="#{p.idPessoa}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column>
                                        <p:selectOneMenu id="pessoa2turno" style="width: 160px;">
                                            <f:selectItem itemLabel="Selecione" itemValue="" />
                                            <f:selectItems value="#{escalaBean.listaPessoa}" var="p"
                                                           itemLabel="#{p.nomePessoa}" itemValue="#{p.idPessoa}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column>
                                        <p:selectOneMenu id="pessoa3turno" style="width: 160px;">
                                            <f:selectItem itemLabel="Selecione" itemValue="" />
                                            <f:selectItems value="#{escalaBean.listaPessoa}" var="p"
                                                           itemLabel="#{p.nomePessoa}" itemValue="#{p.idPessoa}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column>
                                        <p:selectOneMenu id="pessoa4turno" style="width: 160px;">
                                            <f:selectItem itemLabel="Selecione" itemValue="" />
                                            <f:selectItems value="#{escalaBean.listaPessoa}" var="p"
                                                           itemLabel="#{p.nomePessoa}" itemValue="#{p.idPessoa}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column>

                                    </p:column>

                                </p:dataTable>

                                <p:spacer />

                            </c:forEach>

                            <p:button value="Salvar" style="margin-top: 10px;"/>

                        </h:form>
                    </p:tab>

                </p:tabView>

            </ui:define>

        </ui:composition>

    </body>
</html>
