<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="../../templates/templatePrincipal.xhtml">
            <ui:define name="header"> 
                <h3 class="tabs_involved">Manter Turnos</h3> 
            </ui:define>

            <ui:define name="conteudo">
                <!-- Conteudo -->
                <p:tabView orientation="top"> 
                    <ui:include src="turnosList.xhtml"/>
                    <ui:include src="turnosCad.xhtml"/>
                </p:tabView>

            </ui:define>

        </ui:composition>

    </body>
</html>
