<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:tab title="Cadastrar Turno">  
        <h:form>
            <p:growl autoUpdate="true"/>
            <h:panelGrid id="pnlForm" columns="2" style="margin-bottom:10px" cellpadding="5">

                <p:outputLabel for="categoria" value="Categoria"/>
                <p:selectOneMenu id="categoria"  style="width:250px" required="true">
                    <f:selectItem itemLabel="Selecione" itemValue="" />
                    <f:selectItems value="#{turnosBean.listaCategorias}" var="r" itemLabel="#{r.descricao}" itemValue="#{r.idCategoria}" />
                </p:selectOneMenu>
                
                <p:outputLabel for="nrOrdem" value="Turno"/>
                <p:selectOneMenu id="nrOrdem" value="#{selectOneMenuView.console}" style="width:100px" required="true">
                    <f:selectItem itemLabel="Selecione" itemValue="" />
                    <f:selectItem itemLabel="1º" itemValue="1" />
                    <f:selectItem itemLabel="2º" itemValue="2" />
                    <f:selectItem itemLabel="3º" itemValue="3" />
                    <f:selectItem itemLabel="4º" itemValue="4" />
                </p:selectOneMenu>

                <p:outputLabel for="horaInicial" value="Hora Inicial"/>
                <p:calendar id="horaInicial" pattern="HH:mm a" value="#{turnosBean.horaInicial}" required="true" timeOnly="true" locale="pt_BR"  size="25"/>

                <p:outputLabel for="horaFinal" value="Hora Final"/>
                <p:calendar id="horaFinal" pattern="HH:mm a" value="#{turnosBean.horaFinal}" required="true" timeOnly="true" locale="pt_BR" size="25"/>

                <p:spacer/>
                <p:commandButton value="Salvar" action="#{turnosBean.store()}" update="@this, @form"/>

            </h:panelGrid>

        </h:form>
    </p:tab>

</html>
