<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:tab title="Listagem">  
        <h:form prependId="false" id="formCad">
            <p:growl id="growl" showDetail="true"/>  

            <p:dataTable id="listaTurnos" value="#{turnosBean.listaTurnosHorarios}" var="result"
                         paginator="true" rowKey="#{result.idTurnos}" paginatorPosition="bottom" rows="10">

                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Turno" />
                    </f:facet>
                    <h:outputText value="#{result.ordemTurno}" />
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Hora Inicial" />
                    </f:facet>

                    <h:outputText value="#{result.horaInicial}" />

                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Hora Final" />
                    </f:facet>

                    <h:outputText value="#{result.horaFinal}" />

                </p:column>

                <p:column style="text-align: center;">
                    <f:facet name="header">
                        <h:outputText value="Categoria" />
                    </f:facet>
                </p:column>

                <f:facet name="footer">
                    <p:commandButton process="listaTurnos" update="@form" icon="ui-icon-trash" value="Excluir" />
                </f:facet>
            </p:dataTable>
        </h:form>
    </p:tab>
</html>
