<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ngz="http://xmlns.jcp.org/jsf/composite/ngz"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="../../templates/templatePrincipal.xhtml">
            <ui:define name="header"> 
                <h3 class="tabs_involved">Manter Categorias</h3> 
            </ui:define>

            <ui:define name="conteudo">
                <h:form id="form">
                    <p:growl id="messages" showDetail="true"/>  
                    <!-- Conteudo -->
                    <ngz:toolBar/>

                    <p:dataTable id="dt" value="#{categoriaBean.listaCategorias}" var="result" 
                                 selection="#{categoriaBean.selectedCategorias}" editable="true" widgetVar="dataTable"
                                 paginator="true" paginatorPosition="bottom" rowKey="#{result.idCategoria}" rows="10">

                        <p:ajax event="rowEdit" listener="#{categoriaBean.onRowEdit}" update=":form:messages" />
                        <p:ajax event="rowEditCancel" listener="#{categoriaBean.onRowCancel}" update=":form:messages" />
                        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>

                        <p:column headerText="#{label.descricao}" sortBy="#{result.descricao}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{result.descricao}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{result.descricao}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column headerText="#{label.ordemApresentacao}" sortBy="#{result.ordemApresentacao}" style="text-align: center;" width="105">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{result.ordemApresentacao}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{result.ordemApresentacao}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column style="width:32px">
                            <p:rowEditor />
                        </p:column>

                    </p:dataTable>

                    <p:dialog header="#{label.cadastrarCategoria}" widgetVar="cadDialog" resizable="false">
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel for="descPosto" value="#{label.descricao}"/>
                            <p:inputText id="descPosto" value="#{categoriaBean.descricao}" required="true" requiredMessage="#{msg.requiredDescricao}" size="50"/>

                            <f:facet name="footer">
                                <p:commandButton value="#{label.salvar}" actionListener="#{categoriaBean.store()}" 
                                                 update="messages, dt" oncomplete="PF('cadDialog').close()"/>
                            </f:facet> 
                        </h:panelGrid>
                    </p:dialog>
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
