<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <h:outputStylesheet name="./css/style.css"/>
        <h:outputStylesheet name="./css/primeFacesStyle.css"/>

        <title>
            #{titulo}
        </title>

    </h:head>

    <h:body>
        <p:layout fullPage="true">
            <!--header -->
            <p:layoutUnit position="north" size="130">
                <p:graphicImage name="bm-logo-small.png" library="images" width="130" height="110" style="padding-left: 30px;"/>
            </p:layoutUnit>   
            <!-- fim do header -->

            <!-- Coluna Lateral -->
            <ui:include src="includes/inc_menuLateral.xhtml"/>

            <!-- Conteudo -->
            <p:layoutUnit position="center">
                <h:form>
                    <p:breadCrumb homeDisplay="text">
                        <p:menuitem value="#{label.inicio}" url="./index" />
                    </p:breadCrumb>
                </h:form>
                <ui:insert name="conteudo">conteudo</ui:insert>
            </p:layoutUnit>

            <!-- Fim Conteudo -->
        </p:layout>
    </h:body>

</html>
