<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="ngzValue" required="false"></cc:attribute>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:toolbar>
            <f:facet name="left">
                <p:commandButton type="button" value="#{label.novo}" icon="ui-icon-document" onclick="PF('cadDialog').show();"/>

                <span class="ui-separator">
                    <span class="ui-icon ui-icon-grip-dotted-vertical" />
                </span>

                <p:commandButton id="ngzCB" value="#{label.excluir}"  icon="ui-icon-trash" process=":form:dt, @this"
                                 actionListener="#{pessoaBean.deleteByIds()}" update=":form:messages, :form:dt">
                    <p:confirm header="#{label.confirmacao}" message="#{msg.excluir}" icon="ui-icon-alert" />
                </p:commandButton>

                <p:confirmDialog global="true" showEffect="fade">
                    <p:commandButton value="#{label.sim}" type="button"
                                     styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="#{label.nao}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>

            </f:facet>

            <f:facet name="right">
                <p:outputPanel style="display: inline;">
                    <h:outputText value="#{label.pesquisarTodosCampos}" />
                    <p:inputText id="globalFilter" onkeyup="PF('dataTable').filter()" style="width:150px;" placeholder="#{msg.inserePalavraChave}"/>
                </p:outputPanel>
            </f:facet>

        </p:toolbar>


    </cc:implementation>
</html>